Repository never-alone-turing/never_alone_be, pull requests merged in 2021-01, with the labels that each got.

#21 GraphQL User queries and mutations
  Gemfile
  Gemfile.lock
  Rakefile
  Screen Shot 2020-12-30 at 06.06.27.png
  Screen Shot 2020-12-30 at 10.57.05.png
  Screen Shot 2020-12-30 at 11.44.09.png
  Screen Shot 2020-12-30 at 11.46.44.png
  Screen Shot 2021-01-01 at 12.57.34.png
  app/graphql/mutations/add_user.rb
  app/graphql/mutations/destroy_user.rb
  app/graphql/mutations/update_user.rb
  app/graphql/never_alone_be_schema.rb
  app/graphql/types/enums/role.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  app/models/user.rb
  db/migrate/20201230174745_add_role_to_users.rb
  db/schema.rb
  db/seeds.rb
  schema.graphql
  schema.json
  spec/factories/user_factory.rb
  spec/graphql/queries/user_queries_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/graphql/users/mutations/add_user_spec.rb
  spec/requests/graphql/users/mutations/destroy_user_spec.rb
  spec/requests/graphql/users/mutations/update_user_spec.rb
  spec/requests/graphql/users/queries/user_request_spec.rb
  spec/requests/graphql/users/queries/users_request_spec.rb
  spec/support/factory_bot.rb
  spec/support/graphql.rb
Labels: API, back_end, database, graphql, testing

#23 Long ranger to receiver
  Screen Shot 2021-01-04 at 11.25.52.png
  Screen Shot 2021-01-04 at 13.27.03.png
  Screen Shot 2021-01-04 at 13.28.48.png
  app/graphql/types/enums/role.rb
  app/models/user.rb
  schema.graphql
  spec/requests/graphql/users/queries/users_request_spec.rb
Labels: API, back_end, database, graphql, testing

#24 Change user update mutation
  app/graphql/mutations/update_user.rb
Labels: API, back_end, database, graphql

#25 Groups queries and mutations
  app/graphql/mutations/add_group.rb
  app/graphql/mutations/destroy_group.rb
  app/graphql/mutations/update_group.rb
  app/graphql/types/group_type.rb
  app/graphql/types/group_user_type.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  db/seeds.rb
  spec/factories/group_factory.rb
  spec/requests/graphql/groups/mutations/add_group_spec.rb
  spec/requests/graphql/groups/mutations/destroy_group_spec.rb
  spec/requests/graphql/groups/mutations/update_group_spec.rb
  spec/requests/graphql/groups/queries/get_all_groups_spec.rb
  spec/requests/graphql/groups/queries/get_group_by_id_spec.rb
Labels: API, back_end, enhancement, graphql

#27 Heroku deployment
  app/assets/config/manifest.js
  lib/tasks/assets.rake
Labels: chore

#28 Checkin queries mutations
  Screen Shot 2021-01-05 at 2.15.47 PM.png
  Screen Shot 2021-01-05 at 2.17.00 PM.png
  Screen Shot 2021-01-05 at 2.56.44 PM.png
  app/graphql/mutations/add_checkin.rb
  app/graphql/mutations/add_user.rb
  app/graphql/mutations/destroy_checkin.rb
  app/graphql/mutations/update_checkin.rb
  app/graphql/types/checkin_type.rb
  app/graphql/types/enums/category.rb
  app/graphql/types/enums/response.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  app/models/checkin.rb
  db/migrate/20210105184748_fix_column_name.rb
  db/migrate/20210105235754_remove_response_column_checkins.rb
  db/migrate/20210105235900_add_response_to_checkin.rb
  db/migrate/20210107005504_add_name_to_checkins.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/checkin_factory.rb
  spec/models/checkin_spec.rb
  spec/requests/graphql/checkins/mutations/add_checkin_spec.rb
  spec/requests/graphql/checkins/mutations/destroy_checkin_spec.rb
  spec/requests/graphql/checkins/mutations/update_checkin_spec.rb
  spec/requests/graphql/checkins/queries/checkin_spec.rb
  spec/requests/graphql/users/queries/user_request_spec.rb
Labels: API, back_end, database, graphql

#29 Group users
  app/graphql/mutations/add_group_user.rb
  app/graphql/mutations/destroy_group_user.rb
  app/graphql/mutations/update_group_user.rb
  app/graphql/types/checkin_type.rb
  app/graphql/types/group_type.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  db/seeds.rb
  spec/factories/group_user_factory.rb
  spec/requests/graphql/group_users/mutations/add_group_user_spec.rb
  spec/requests/graphql/group_users/mutations/destroy_group_user_spec.rb
  spec/requests/graphql/group_users/mutations/update_group_user_spec.rb
  spec/requests/graphql/group_users/queries/get_all_group_users_spec.rb
  spec/requests/graphql/group_users/queries/get_group_user_by_id_spec.rb
  spec/requests/graphql/users/queries/users_request_spec.rb
Labels: back_end, database, enhancement, graphql

#30 Sad path checkins
  db/seeds.rb
  spec/requests/graphql/checkins/mutations/add_checkin_spec.rb
  spec/requests/graphql/checkins/mutations/update_checkin_spec.rb
  spec/spec_helper.rb
Labels: back_end, testing

#32 Sad paths
  app/graphql/mutations/update_group.rb
  app/graphql/mutations/update_group_user.rb
  spec/graphql/queries/user_queries_spec.rb
  spec/requests/graphql/group_users/mutations/add_group_user_spec.rb
  spec/requests/graphql/group_users/mutations/destroy_group_user_spec.rb
  spec/requests/graphql/groups/mutations/add_group_spec.rb
  spec/requests/graphql/groups/mutations/destroy_group_spec.rb
  spec/requests/graphql/groups/mutations/update_group_spec.rb
  spec/requests/graphql/groups/queries/get_all_groups_spec.rb
Labels: back_end, enhancement, graphql
